.env
.terraform/
coverage/
venv/
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
terraform.tfstate
*.crt
*.tfvars
*.tfstate.*
.infracost/
.terraform-version
.idea

#tmp kube config written by tooling container
.kube_config
