# The Role which Shared Services will build with in the relevant AWS account
assume_role =

# The role to assume in other aws accounts to create some required iam roles
assume_role_development    =
assume_role_pre_production =

# Run aws route53 list-hosted-zones in the relevant account to get the following variables
domain_name = <hosted zone "Name" in the account you are working in e.g example.gov.uk where Name = "example.gov.uk">
zone_id     = <hosted zone "Id" in the account you are working in e.g 123456789 where Id = "/hostedzone/123456789">

# To create (or not delete, if already created) the infrastructure set to 'true'. Similarly set to 'false' [default] to destroy infrastructure.
enabled     =

# Grafana RDS Database Username & Password
db_username =
db_password =

byoip_pool_id = <nvvs-devops-monitor/byoip_pool_id in Shared Services Parameter Store>

enable_transit_gateway         = true
transit_gateway_route_table_id = <Shared Services Parameter Store>
transit_gateway_id             = <Shared Services Parameter Store>
corsham_mgmt_range             = <Shared Services Parameter Store>.0/24
farnborough_mgmt_range         = <Shared Services Parameter Store>.0/24
network_services_cidr_block    = <CIDR range of staff-infrastructure-production-network-services VPC in Production>
